# Padroniza finais de linha para LF em todos os textos
* text=auto eol=lf

# Arquivos binários (sem normalização de EOL)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.lockb binary

# Evita normalização em builds gerados
/dist/** binary
